RecipesCopilot.Ollama.Chat/bin/*
RecipesCopilot.Ollama.Chat/obj/*

RecipesCopilot.Ollama.Chat.Demo-001/bin/*
RecipesCopilot.Ollama.Chat.Demo-001/obj/*

RecipesCopilot.Ollama.Chat.Demo-002/bin/*
RecipesCopilot.Ollama.Chat.Demo-002/obj/*

RecipesCopilot.Ollama.Chat.Demo-003/bin/*
RecipesCopilot.Ollama.Chat.Demo-003/obj/*

RecipesCopilot.Ollama.Proxy/bin/*
RecipesCopilot.Ollama.Proxy/obj/*
