@{
    ViewData["Title"] = "Credits";
}

<p>
    <h3><strong>Icons used in the project</strong> - <a href="@Url.Action("Index", "Home")">Back to Homepage</a></h3>
</p>

<ul class="list-group">
        
            <li>
                Free icon from Freepik:
                <br />
                <img  src="/images/user-icon.png" alt="User Icon"  class="icon-size">
                <a href="https://www.freepik.com/icon/gingerbread_17130220#fromView=keyword&page=1&position=0&uuid=0c430756-df22-4b8f-a35a-820bc982f53f">Icon by PixelVerse</a>
            </li>

            <li>
                Free icon from Freepik:
                <br />
                <img src="/images/llm-icon.png" alt="User Icon" class="icon-size">
                <a href="https://www.freepik.com/icon/holidays_15117280#fromView=keyword&page=4&position=14&uuid=0c430756-df22-4b8f-a35a-820bc982f53f">Icon by juicy_fish</a>
            </li>

            <li>
                Free icon from Freepik:
                <br />
                <img src="/images/christmas-logo.png" alt="User Icon" class="icon-size">
                <a href="https://www.freepik.com/icon/food_1302506#fromView=search&page=2&position=5&uuid=11c22e43-bdfd-47a1-95a6-d9b991abaf88">Icon by Freepik</a>
            </li>
        
</ul>